/* - Mobile: 375px
- Desktop: 1440px */


*{
    box-sizing :border-box ;
    padding :0;
    margin :0;
}
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

ul{
list-style :none ;
margin:0;
padding :0;
}
:focus{
    outline :none;
}
a{
    text-decoration :none;
}
.container{ 
   padding-left: 15x;
   padding-right: 15px;
   margin: auto;
   margin-top: 15px;
 
}

@media(max-width:767px){
    .container{
        width: 749px;
    }
}
@media(min-width:768px){
    .container{
        width: 750px;
    }
}
@media(min-width:992px){
    .container{
        width: 970px;
    }
}
@media(min-width:1200px){
    .container{
        width: 1170px;
    }
  
}
:root{
    /* ### Primary */
    --soft_orange:hsl(35, 77%, 62%);
    --Soft_red:hsl(5, 85%, 63%);
    /* ### Neutral */
    --Off-white: hsl(36, 100%, 99%);
    --Grayish_blue:hsl(233, 8%, 79%);
    --Dark_grayish_blue: hsl(236, 13%, 42%);    
    --Very_dark_blue:hsl(240, 100%, 5%);
    --font_size:15px;
    --main_margin:30px
}

.top_bar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.top_bar .container .menue ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top_bar .container .menue ul li{
    margin-left: var(--main_margin);
    cursor: pointer;
    transition-duration: .5s;
}
.top_bar .container .menue ul li:hover{
    color: var(--Soft_red);
}
.top_bar .container  .burger_icon{
   display: none;
   cursor: pointer;
}
.top_bar .container .burger_menue.show{
   display: block;
}
.top_bar .container .burger_menue{
   position: fixed;
   top: 0;
   right: 0;
   width: 50%;
   height: 100%;
   background-color: white;
   display:none;
   border: 2px solid #eeee;
  
}
/* .top_bar .container .burger_menue::before{
   content: "";
   position: absolute;
   width: 102%;
   height: 100%;
   top: 0;
   left: -300px;
   background-color: aqua;
} */


.top_bar .container .burger_menue .close{
  text-align: right;
  margin-right: 15px;
  margin-top: 15px;
  cursor: pointer;
}
.top_bar .container .burger_menue ul{
   position: relative;
   left: -12px;
   top: 15%;
   display: flex;
   flex-direction: column;
}
.top_bar .container .burger_menue ul li{
   margin-top: 30px;
   cursor:pointer;
}
.landing{
   margin-bottom: 0;
  
   padding: 0;
}
 .landing .container{
    display:  flex;
    justify-content: left;
    align-items: flex-start;    
   

 }
 .landing .container .left{
    max-width: 69%;
    flex-grow: 1;
   
 }
 .landing .container .left .top img{
    max-width: 100%;
    min-height: 100%;
 }
 .landing .container .right{
  display: flex;
  flex-direction: column;
  margin-left: var(--main_margin);
  background-color: var(--Very_dark_blue);
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 30%;

 }
 .landing .container .right .heading h2{
    color: var(--soft_orange);
  
 
 }
 .landing .container .right .rows .row{
    margin-top: var(--main_margin);
    position: relative;
    cursor: pointer;
 }
 .landing .container .right .rows .row:first-child .title h3,
 .landing .container .right .rows .row:nth-child(2) .title h3,
 .landing .container .right .rows .row:last-child .title h3{
    color: var(--Off-white);
    font-size: var(--font_size);
    transition-duration: .5;
 }  

 .landing .container .right .rows .row:nth-child(2)::before{
    content: "";
    position: absolute;
    border-top: 1px solid var(--Dark_grayish_blue);
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    top: -20px;
 }
 .landing .container .right .rows .row:hover .title h3{
   color: var(--soft_orange);
 }


 .landing .container .right .rows .row:last-child::before{
    content: "";
    position: absolute;
    border-top: 1px solid var(--Dark_grayish_blue);
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    top: -20px;
 }
 .landing .container .right .rows .row:first-child .title p,
 .landing .container .right .rows .row:last-child .title p,
 .landing .container .right .rows .row:nth-child(2) .title p{
    color: var(--Grayish_blue);
    font-size: 13px;
 }
 .bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
  

 }
 .bottom h2{
    font-weight: bold;
 }
 .bottom .topic{
    flex-grow: 1;
  
    width: 100%;
 }
 .bottom .details{
    margin-left: 100px;
    padding: 10px 10px;
   
 }
 .bottom .details .article p{
    color: var(--Dark_grayish_blue);
 }

 .bottom .details .control button{
    background-color: var(--Soft_red);
    border-style: none;
    cursor: pointer;
    padding: 10px;
    color: var(--Off-white);
    width: 50%;
    border-radius: 6px;
 }
 .bottom .details .control button:hover{
   background-color: var(--Very_dark_blue);
 }
   

 .about{
  
   padding: 0;
 
 }
 .about .row{
   cursor: pointer;
 }
 .about .row .topic h5{
    color: var(--Soft_red);
    font-weight: bold;
 }
 .about .row .topic h6{
    font-weight: bold;
    font-size: 12px;
 }

 .about .row .topic:hover h6{
   color: var(--Soft_red);
 }
 .about .row .topic p{
    color: var(--Dark_grayish_blue);
    font-size: 12px;
 }
 .about img{
    width: 100px;
    height: 90px;
 }
 body{

   padding: 60px;
   position:relative;
 }
 .all{
   box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 55%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
   padding:15px;
  margin-left: 20px;
  position: relative;
 
  
 
 }
 .all::before{
    content: "";
    position: absolute;
    top: -60px;
    left: -100px;
    border: 10px solid;
    border-color: paleturquoise transparent transparent transparent;
    border-radius: 50%;
    width: 30%;
    height: 100%;
    transform: rotate(-4deg);
   
    
 }
 .circles{
  
   position: absolute;
   top: 50%;
   left: 0;
   transform: translateY(-50%);
   display: flex;
   flex-direction: column;
   justify-content:space-between;
 
   margin-left: 12px;
   
  
 }
 .circles .row{
   margin-top:2px;
 }
 .circles .row span{
   width:1px;
   height:25px;
   background-color:paleturquoise;
   border-radius:50%;
   margin-left:.5px;
 }
 /* .zigzag {
   position: absolute;
   right: 0;
   height: 50px;
   width: 250px;
  
    background:  
      linear-gradient(135deg, white 35%, transparent 25%) -25px 0,
      linear-gradient(225deg, white 35%, transparent 25%) -25px 0,
      linear-gradient(315deg, white 35%, transparent 25%),
      linear-gradient(45deg, white 35%, transparent 25%);   
    background-size: 50px 50px;
    background-color: black;
} */

/* Responsive Design */

@media(max-width:992px){
   .top_bar .container .menue{
      display: none;
   }
   .top_bar .container  .burger_icon {
    display: block;
   }
  
   .circles{
      display: none;
   }
   .landing .container{
      display: flex;
      flex-direction: column;
      align-items: left;
   
    
   }
   .landing .container .left{
    max-width: 100%;
   }
  
   .landing .container .left .bottom{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
   }
  
   .landing .container .left .bottom  .article{   
   margin-left: -110px;
   }
   .landing .container .left .bottom .control{
      margin-left: -110px;
   }
   .landing .container .left .bottom .control button{
      width: 120px;
      text-wrap: nowrap;
 
   }
   .landing .container .right{
      max-width: 100%;
      margin-left: 0;
   }

   .all::before{
      display: none;
   }
   .about .container .row{
    margin-left:4px;
    
   }
   .about .container .row div:nth-child(2),
   .about .container .row div:last-child{
      margin-top: 4px;
   }
   .about .container .row div{
      padding: 0;
   }

   .about .container .row  .topic{
     
      width: 100%
     
   }
  
}
.cover.overlay{
   position: fixed;
   top: 0;
   left: 0;
   background-color :rgb(0 0 0 / 10%) ;
   width:100%;
   height:100%;
}

.zigzag{
  border: 2px solid red; 
}

.zigzag span{
   
   border: 20px solid ;
  
   border-color: transparent transparent green transparent;
}
